

.listErc{
display: flex;
flex-direction: column;
gap: 20px;

}

.mainErc{
    color: #ffffff92;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    width: 345px;
  
    background-color: #ffffff07; /* White background */
    border-radius: 30px; /* Rounded corners */
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.247); /* Box shadow for a subtle lift */
    padding: 20px;
    margin: 0 auto; /* Center the card horizontally */
}

.contentErc{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.titleErc {
    margin-bottom: 15px;
}

.descErc{
    margin-bottom: 20px;
}
.imageErc{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    max-width: 60px;
    max-height: 60px;
    /* margin-right: 1rem; */
}

.otherErc{
    font-style: italic;
}

.footerSec{
    display: flex;
    /* margin: 10px 5px 0 5px; */
    justify-content: space-between;
}
