

.listErc{
display: flex;
flex-direction: column;
gap: 20px;
}

.mainErc{
    width: 345px;
    background-color: hsl(216, 50%, 16%);
    /* margin: 10rem auto; */
    border-radius: 15px;
    padding: 1.5rem;
    color:hsl(0, 0%, 100%);
    min-height: 200px;
}

.contentErc{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.titleErc {
    margin-bottom: 15px;
}

.descErc{
    margin-bottom: 20px;
}
.imageErc{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    max-width: 60px;
    max-height: 60px;
    /* margin-right: 1rem; */
}

.footerSec{
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
}
